:root {
  --foodie-orange: #f95b29;
  --foodie-grey: #aaaaaa;
  font-size: 12px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--foodie-orange);
}

.text-box {
  display: block;
  padding: 0.5rem 1rem;
  outline: none;
}

.searchbar-grid {
  padding: 1rem;
}

.search-bar {
  width: 400px;
  border-radius: 0.2rem;
  padding: 1rem;
  border: 1px solid var(--foodie-orange);
}

.form-prompt {
  font-size: 0.9rem;
  font-weight: 500;
}

.app-button {
  cursor: pointer;
  display: block;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: 0;
}
.text-foodie {
  color: var(--foodie-orange);
}
.text-desc {
  color: var(--foodie-grey);
}

.bold {
  font-weight: bold;
}

.bg-foodie {
  background-color: var(--foodie-orange);
}

.bg-white {
  background-color: #ffffff;
}

.bg-land-film {
  background-color: rgba(41, 15, 5, 0.29);
}

.bg-foodie-img {
  background-image: url("./assets/images/foodie-bg.jpg");
  background-size: contain;
}

.home-grid {
  width: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 75%;
}
.searchbar-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.dish-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.dish-item-box {
  box-sizing: border-box;
  width: 100%;
  max-width: 200px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 #57575716;
  cursor: pointer;
  transition: 0.3s;
}

.dish-item-box {
  box-shadow: 0 0 20px 0 #3f3f3f16;
}

.ovr {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* div.ovr > span {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  background-color: red;
} */
/* 
td.mat-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    // padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
} */
